# Object files
*.o
o/*

# Linker output
*.ilk
*.map
*.exp

# Executables
sokoban
._sokoban

#my score file 
data/scores/scores

#apple 2 files
Finder.Data

#SlickEdit IDE files
*.vpw
*.vpj
*.vpwhistu
*.vtg
